.vs*
*\.vs*
/lab7/7.60/7.60/obj
/lab7/7.60/7.60/bin/Debug/net6.0
/lab7/7.20/7.20
/lab7/7.17/7.17/obj
/lab7/7.17/7.17/bin/Debug/net6.0
/lab7/17/2/2/obj
/lab7/18/18/obj
/lab7/19/19/obj
/lab7/19/19/bin/Debug/net6.0
/lab7/20/20/bin/Debug/net6.0
/lab7/20/20/obj
/lab8/lab/lab/obj/Debug/net6.0
/lab8/lab/lab/obj
/lab8/lab/lab/bin/Debug/net6.0
/lab9/lab5/Library/Library/bin/Debug/net472
/lab9/lab5/Library/Library/obj
/lab9/lab5/Library/Design/bin/Debug
/lab9/lab5/Library/Design/obj/Debug
/lab9/lab5/Library-1.0/Library/bin/Debug/net472
/lab9/lab5/Library-1.0/Library/obj
/lab8/lab4/lab4/obj
